
body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #ff0000, #ff8c8cc5);
  font-family: Arial, sans-serif;
}

.title {
  color: rgb(149, 0, 255);
  text-decoration: underline;
  text-align: center;
}

.section-title {
  color: green;
  text-decoration: underline;
  margin-top: 40px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  margin: 0px auto;
  width: 90%;
  animation: alternate;
}

.video-container iframe {
  position: absolute;
  top: 130px;
  left: 330px;
  width: 50%;
  height: 50%;
  border: none;
}

.mon-image {
  position: absolute;
  top: 10px;
  left: 1055px;
  width: 300px; 
}
img {
  opacity: 1;
  transition: opacity 0.3s ease;
}

img:hover {
  opacity: 0.6;
}

a {
  color: rgb(64, 255, 0);
  text-decoration: underline;
}

#btnTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}




