* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffdfd;
  color: #000000;
  line-height: 1.6;
}




.profile-picture img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}



.section-title {
  color: green;
  text-decoration: underline;
  margin-top: 40px;
}
